<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here is Your Post in detail</h1>
    <h2 class="id">Post id: <%=post.id%></h2>
    <h3 class="user">Post username: <%= post.username %></h3>
    <h5 class="content">Post content: <%= post.content %></h5>
</body>
</html>